
.topPane {
    position:relative;
    float:left;
    z-index:1;
    background-color:#867ae9;
    width:50%;
    height:60vh;
    border:inline;
    padding:2%;
    margin:2%;
}
.bottomPane {
    
    z-index:1;
    position:relative;
    float:left;
    width:33%;
    padding:2%;
    overflow:scroll;
    -ms-overflow-style: none;
    
}

.containerBox{
    margin:2%;
    
    background-color:#ffe3fe;
     border: 2px solid blue; 
     border-style: inset;
     border-radius:2%;
     height:60vh;


}
@media (max-width: 580px) {
 
 .topPane {
    width:90%;
    height:50vh;  
}
.bottomPane {
     width:90%;
     height:20vh;
   
}

}